streamlit==1.39.0
pillow==10.4.0
gTTS==2.5.1
numpy==1.26.4
pydub==0.25.1
SpeechRecognition==3.10.4
openai-whisper==20231117
deepface==0.0.93
rembg==2.0.57
textblob==0.18.0.post0
wordcloud==1.9.3
matplotlib==3.9.2
spacy==3.7.5
tensorflow==2.15.0
tf-keras==2.15.0
